*,
html {
    margin: 0;
    padding: 0;
}

.container-navbar {
    background-color: gray;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 15vh;
}

.container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}
.img-content {
    max-width: 100%;
    height: auto;
}

.container-footer {
    background-color: gray;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}
